.body {
    display: flex;
    background-color: aqua;

}

.timer {
    display: inline-flex;
    position: absolute;
    right: 5%;

}

h1 {
    display: inline-flex;
    margin: 0 auto;
}

.questionsEl {
    display: inline-flex;
    position: absolute;
    left:45%;
    top:15%;
    font-size: xx-large;
    

}
.startEle {
    display: inline-flex;
        position: absolute;
        left: 49%;
        top: 25%;
        font-size: x-large;
        margin: 0 auto;
}